html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    /*text-align: center;*/
    flex-direction: column;
}

main {
    /* margin: auto;*/
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
    text-align: left;
    text-justify: inter-word;
    margin-bottom: 50px;
}

.toc-placement {
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

/* Page content */

.content {
    padding-top: 20px;
}

/* Profile picture */
/*
.profile {
    text-align: left;
    
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    
}
*/
/* profil cadre */
.row.myprofile {
    text-align: left;
    text-justify: inter-word;
}
/* Colored links */

a:link{
    color: var(--accent);
}

a:visited {
    color: rgb(160 160 160);
}

.resume-footer > a:link{
    color: rgb(160 160 160);
}

.resume-footer > a:visited{
    color: var(--accent);
}


a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
    color: #A0A0A0;
}

p.copyright > a
{
    text-decoration: none;
    color: #ffffff;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--background-color);
    border-color: var(--accent); 
    border-style: solid;
    border-width: 1px; 
    color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
    background-color: #3d3d3d;
}

/* Colores element text navbar*/
.navbar-default .navbar-nav>li>a {
    color: #CCCCCC;
}


/*Colored footer lvl1*/
.resume-footer{
    background-color: #535251;
    padding: 50px 0;

}

.resume-title {
    color: white;
}



/* second lvl */
footer > p{
    color: #CCCCCC;
}
/*
footer > a:link, a:visited{
    color: #FFFFFF;
}
*/
.progress {
    background-color: #A0A0A0;
    height: 5px;
}

/*bg readable content*/
/*.section-wrapper {
    background-color: #F0EEEB;
}
*/
.section-wrapper {
    margin: 40px 0 0 40px;
}

.competences-comparison, .specialities-box{
    padding: 0;
}

.section-wrapper.skills-wrapper {
    text-align: left;
   
}

hr{
    border-top: 1px solid #535251;
}

/*titre ingé logiciel*/
.title_nb{
    color: var(--accent);
}

/*card project */
#recent-relaisation{
    text-align: center;
}

.card.card-project {

    background-color: #F0EEEB;
    margin-bottom: 50px;
    min-height: 450px;
    /*box-shadow: 5px 10px black;*/
}

.card-container {
    max-width: 350px;
}

.card.card-project {
    box-shadow: 0 0 6px rgb(83 82 81);
}
.card.card-project:hover{
    box-shadow: 0 0 6px rgb(35 173 255);
}
.card-img {

    width: 100%;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 6px;
}

.card-body {
    box-sizing: border-box;
    display: table;
    width: 100%;
    padding: 12px;
}

/* btn card */
.brk-btn::before {

        content: "";
        display: block;
        position: absolute;
        /* width: 10%; */
        background: #222;
        height: 0.3em;
        right: 20%;
        top: -0.21em;
        transform: skewX(-45deg);
        -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);    
}
.brk-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }

.brk-btn {
    position: absolute;
    background: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    /* border: 0.2em solid rgb(83 82 81); */
    padding: 0.5em 1em;
    right: 0;
    bottom: 10%;
    
}

.content-item > h3 {
    margin-top: 0;
}

.more-about {
    margin-bottom: 40px;
}
/* color frize parcours 
.parc1, .parc2 {
    border-top: var(--border-width) solid var(--accent);    
}
.parc3, .parc4 {
    margin-top: 20px;
    border-top: var(--border-width) solid var(--accent);
    border-bottom: var(--border-width) solid var(--accent);
}

.parc2 {
    border-right: var(--border-width) solid var(--accent);
}

.parc3 {
    border-left: var(--border-width) solid var(--accent);
}

*/

.realisation {
    margin-top: 70px;
    margin-bottom: 70px;
}
a.brk-btn:hover{
    text-decoration: none;
}
.brk-btn:hover::before {
    
      right: 80%;
}

.brk-btn:hover:after{
        left: 80%;
}

ul li.nav-item{
    list-style-type: none;
    display: list-item;
  
}

.footer-list, .navigation-list{
    padding: 0;
}

a.smooth-scroll {
    color: #CCCCCC;
}
.personal-details > small {
    display: block;
}

.btn-more {
    display: inline-block;
  background: rgb(200 200 200);
  color: black;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  text-decoration: none;
  margin: 40px;
  
}

.sidebar, .affix {
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 6px rgb(83 82 81);
}

.navigation-list > a{
    text-decoration: none;
}
/*
.navigation-list li.active a {
    color: blue;
}
*/

.btn-more:hover {
    background-color: rgb(83, 82, 81);
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
          text-decoration: none;
}

/*Projets*/
#le-projet {
    margin: 0;
    visibility: hidden;
}

/*Références*/
.btns-ref > a.button.btn-more {
    min-width: 200px;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
    background-color: #3d3d3d;    
}

blockquote {
    border-left: 5px solid #333333;
}

.list-group-item{
    background-color: var(--backgroundColor) !important;
}

/* TOC table of content */
nav[data-toggle='toc'] {
    margin-top: 30px;
  }
  
  /* small screens */
  @media (max-width: 768px) {
    /* override the Affix plugin so that the navigation isn't sticky */
    nav.affix[data-toggle='toc'] {
      position: static;
    }
  
    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle='toc'] .nav .active .nav {
      display: none;
    }
    /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
    nav[data-toggle='toc'] .nav .nav {
      display: block;
    }
  }