{{ partial "header" . }}

<!-- main>

    <div>
        <h1>{{ .Title }}</h1>
        <h5>{{ .Description }}</h5>
        {{ partial "tags" . }}
    </div>

    <div align="start" class="content">{{ .Content }} nahtoto</div>

</main -->


<section class="single-section-sm pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"> 
                
                
                
                <div class="sidebar">
                    <div class="profile-img">
                        <img src="{{ $.Site.BaseURL }}images/moi.jpg" class="img-responsive" alt="Moi">
                    </div>
                    
                    <h2><strong> Nadjidine B.</strong></h2>
                    <h3 class="title_nb">Expert en ingénierie logiciel </h3>
                    <hr>
                    <!--Bloc projets only-->
                    {{ $url := urls.Parse .Permalink }}
                    {{ if hasPrefix $url.Path "/projets"}}
                
                    <h2><strong> Projets</strong></h2>
                    <ul class="list-group">                             
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/transition-4.0/">Transition 4.0</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/findbacklinck/">Backlink SEO</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/numericom/">Numéri'com</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/citi/">C'ITI</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/mobilavenue/">Mobil'Avenue</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/dashboardappro/">Dashboard Appros</a>
                        </li>
                      
                    </ul>
                    {{ end }}

                    <!-- Bloc comp only-->
                    {{ $url := urls.Parse .Permalink }}
                    {{ if hasPrefix $url.Path "/competences"}}
                
                    <h2><strong> Compétences</strong></h2>
                    <ul class="list-group">                             
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/autonomie/">Autonomie</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/communication/">Communication</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/html-css/">HTML5/CSS3</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/php/">PHP</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/r_and_d/">R & D</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/qlike/">Qlike Set Analysis</a>
                        </li>

                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/sql/">SQL</a>
                        </li>

                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/vba/">VBA</a>
                        </li>
                      
                    </ul>

                    {{ end }}

                </div>
        
            </div>
        
            <div class="col-lg-7 col-md-7">

                <main>

                    <div>
                        <h1>{{ .Title }}</h1>
                        <h5>{{ .Description }}</h5>
                        {{ partial "tags" . }}
                    </div>

                    <div align="start" class="content toc-placement">{{ .Content }}</div>
                        {{ partial "tags" . }}
                </main>

            </div>
            <!--TOC-->
            <div class="col-lg-2 col-md-2">
                <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
            </div>
        </div>
    </div>
</section>


{{ partial "footer" . }}
