        <footer class="">
            <div class="container-fluid resume-footer"> 

                <div class="container pt-5">
                    <div class="row text-left">
                      <div class="col-md-3 col-sm-12">
                        <h5 class="resume-title">MES PROJETS</h5>
                        
                        <ul class="footer-list">                             
                              <li class="nav-item">
                                <a class="smooth-scroll" href="{{ $.Site.BaseURL }}projets/transition-4.0/">Transition 4.0</a>
                              </li>
                              
                              <li class="nav-item">
                                <a class="smooth-scroll" href="{{ $.Site.BaseURL }}projets/findbacklinks/">Backlinks SEO</a>
                              </li>
                              
                              <li class="nav-item">
                                <a class="smooth-scroll" href="{{ $.Site.BaseURL }}projets/numericom/">Numéri'com</a>
                              </li>
                              
                              <li class="nav-item">
                                <a class="smooth-scroll" href="{{ $.Site.BaseURL }}projets/citi/">C'ITI</a>
                              </li>
                              
                              <li class="nav-item">
                                <a class="smooth-scroll" href="{{ $.Site.BaseURL }}projets/mobilavenue/">Mobil'Avenue</a>
                              </li>
                              
                              <li class="nav-item">
                                <a class="smooth-scroll" href="{{ $.Site.BaseURL }}projets/dashboardappro/">Dashboard Appros</a>
                              </li>
                            
                        </ul>
                                        
                      </div>
                      
                      <div class="col-md-3 col-sm-12">
                        <h5 class="resume-title">ME CONTACTER</h5>
                        {{ if .Site.Menus.icon }}

                                {{ range sort .Site.Menus.icon }}
                                    <div class="navbar-icon" style="font-size: 24px;"><a href="{{ .URL }}" target="_blank"><i class="fa fa-{{ .Name }} fa-3x"></i></a></div>
                                {{ end }}

                        {{ end }}
                       
                      </div>
                      
                      
                      <div class="col-md-3 col-sm-12">
                        
                        <h5 class="resume-title">MES COMPETENCES</h5>
                        <ul class="footer-list">                             
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/autonomie/">Autonomie</a>
                            </li>
                            
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/communication/">Communication</a>
                            </li>
                            
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/html-css/">HTML5/CSS3</a>
                            </li>
                            
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/php/">PHP</a>
                            </li>
                            
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/r-and-d/">R & D</a>
                            </li>
                            
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/gestion-de-projet/">Gestion de Projets</a>
                            </li>

                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/qlik/">Qlik Set Analysis</a>
                            </li>

                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/sql/">SQL</a>
                            </li>

                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}competences/vba/">VBA</a>
                            </li>

                      </ul>
                      </div>
                      
                      <div class="col-md-3 col-sm-12">
                        <h5 class="resume-title">MES REFERENCES</h5>
                        <ul class="footer-list">                             
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}data/CV_BOINALI_Nadjididine.pdf" target="_blank">Curriculum Vitæ</a>
                            </li>
                            <li class="nav-item">
                              <a class="smooth-scroll" href="{{ $.Site.BaseURL }}data/NadjidineBoinali-Certification_Cy-certificate.pdf" target="_blank">
                                CISCO CCNA Cybersecurity Operations
                              </a>
                            </li>
                      </div>

                    </div>
                  </div>

            </div>
            <div class="container">
                <div class="row">
                     <p class="copyright text-center">
                         {{ .Site.Params.copyright | default "&copy; Janvier 2021 [Nadjidine BOINALI]() - [Mentions légales](#)." | markdownify }}

                     </p>
                </div>
            </div>
           
        </footer>

        {{ partial "body-close" . }}
        
    </body>

</html>
